.link-item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}

.btn {
  background: #75e169;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  overflow: hidden;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: #484848;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
}

.section {
  //display: flex
   //min-height: 766px;
  .section__left-info {
    //display:flex
    flex-direction: column;
    justify-content: space-between;
  }
  .section__img-top-wrapper {
    font-size: 0;
  }

  .section__central-block {
    display: flex;
    //flex-direction: column;
    //align-items: flex-start;
  }

  .section__subtitle {
    line-height: 140%;
    width: 100%;
  }

  .section__btn {
    &:hover {
      outline: 2px solid #67aefc;
    }
    &:active {
      background: #67aefc;
    }
  }
  .section__img-wrapper {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
